@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

:root {
    --cor1: #4ab5ca;
    --cor2: #16dac6;
    --cor3: #23c587;
    --cor4: #0cf259;
    --cor5: #15eb20;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

body {
    background-color: #23c587;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabeca-header h1 {
    background-color: var(--cor4);
    text-align: center;
    color: #000000d0;
    font-family: 'Teko', sans-serif;
    font-size: 4em;
}


.menu li {
    text-align: center;
    display: inline-block;
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: #323232;
    font-weight: bold;
    font-size: 1.4em;
}

.menu-nomes a{
    text-decoration: none;
}

.menu-nomes {
    background-color: var(--cor4);
    text-align: center;
    border: 2px solid black;
    padding: 0;
}

div.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    height: 300px;
}

